h1 {
    text-align:center;
    padding-bottom: 8%;
    padding-top: 5%;
  }
  input {
    color: "teal";
    margin: 0;
    opacity: 1;
    transition:
    .333s ease top, .333s ease opacity;
    border-radius: 0;
    border-color: #ccc;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
    border-color: teal;
    width: 40%;
    min-width: 250px;
  }
  textarea {
    color: "teal";
    margin: 0;
    opacity: 1;
    transition:
    .333s ease top, .333s ease opacity;
    border-radius: 0;
    border-color: #ccc;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
    border-color: teal;
    width: 40%;
    min-width: 250px;
  }
  button {
    /* For old browsers */
    background: #609087;
    background: -moz-linear-gradient(top,  #609087 0%, #79b1a6 50%, #80a180 51%, #5f705f 100%);
    /* For Chrome and Safari */
    background: -webkit-linear-gradient(top,  #c0f9ef 10%,#9ed8ce 20%,#80b7ad  30%,#609087 90%, #80b7ad  100%); 
    

    border: thin solid #609087;
    border-radius: 3px;
    margin: 15px 0;
    padding: 10px 50px;
    color: #ffffff;
    box-shadow: 0px 1px 0 #AAA inset, 0px 1px 0 #444;
    outline: none;

    text-transform: uppercase;
    transition: all 0.25s ease 0s;
    min-width: 50px;
    font-weight: bold;
  }

  #app {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background:#ffffff;
  }

  .container-body {
      margin-top: 50px;
  }
